.jobapplicants-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.jobapplicants-items-container {
  width: 60%;
  margin-top: 20px;
  box-sizing: border-box;
}
